.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}

.inputs{
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 400px;
    
}