.product{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: 240px;
    width: 500px;
    background-color: #D34735;
}

img{
    height: 200px;
    width: 300px
}

.productInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    width:170px
}